
.transactions {
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .transactions {max-height: 60vh;}
}

.transactionsTable {
  position: relative;
  margin: 0 auto;
  max-width: 715px;
  border-spacing: 0;
  /* border-collapse: separate !important; */

  font-family: 'Circe', sans-serif;
  line-height: 1.5;
}

.tableHeaderData {
  padding: 15px 20px;
  text-align: left;
  position: sticky;
  top: 0;
  font-size: 18px;
  background-color: #fff;
}

.tableHeaderData:first-child {
  border-radius: 29px 0 0 29px;
}

.tableHeaderData:last-child {
  border-radius: 0 29px 29px 0;
}

.tableHeaderDataRight {
  composes: tableHeaderData;
  text-align: right;
}

.tableBody {
  font-size: 16px;
  background-color: transparent;
}

.tableData {
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid #DCDCDF;
  border-top: 1px solid #fff;
}

.firstTableData {
  border-top: none;
}

.lastTableData {
  border-bottom: none;
}

.tableDataRight {
  composes: tableData;
  text-align: right;
}

.tableDataIncome {
  composes: tableDataRight;
  font-weight: 700;
  color: #24CCA7;
}

.tableDataExpense {
  composes: tableDataRight;
  font-weight: 700;
  color: #FF6596;
}

/* MOBILE TABLE */

p {
  padding: 0;
  margin: 0;
}

.mobTableContainer {
  padding: 0 20px;
}

.mobTransaction {
  max-width: 410px;
  margin: 0 auto;
  margin-bottom: 8px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.transactionRowIncome {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px 8px;
}

.transactionRowIncome:not(:last-child) {
  border-bottom: 1px solid #DCDCDF;
}

.transactionRowIncome::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: #24CCA7;
}

.transactionRowExpense {
  composes: transactionRowIncome;
}

.transactionRowExpense::before {
  background-color: #FF6596;
}

.transactionHeader {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.transactionData {
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
}

.transactionDataIncome {
  composes: transactionData;
  font-weight: 700;
  color: #24CCA7;
}

.transactionDataExpense{
  composes: transactionData;
  font-weight: 700;
  color: #FF6596;
}