.container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
}

@media screen and (min-width: 768px) {
  .bar {
    display: flex;
    padding-bottom: 20px;
  }
  .container {
    flex-direction: column;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .bar {
    flex-direction: column;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 70px;
    border-right: 3px groove white;
  }
  .container {
    flex-direction: row;
    padding-top: 0;
    padding-left: 18px;
    padding-right: 18px;
  }
  .content {
    padding-left: 69px;
    padding-top: 46px;
  }
}
